<script id="tmpl-LeftSide" type="text/html">
    <div class="LeftSide">
    	<div class="LeftSide-top">
    		<div class="btn btnCreateProject">New Project</div>
    		<div class="btn btnLogoff">Logoff</div>
    	</div>
    	<div class="LeftSide-center">
    		<label class="title">PROJECTS</label>
    		<div class="projectsContainer">
    			<div class="project" data-obj_id="1">asdfasdf</div>
    			<div class="project" data-obj_id="1">asdfasdf</div>
    			<div class="project" data-obj_id="1">asdfasdf</div>
    			<div class="project" data-obj_id="1">asdfasdf</div>
    		</div>
    	</div>
    </div>
</script>
<script id="tmpl-LeftSide-projectItem" type="text/html">
    <div class="project" data-obj_type="project" data-obj_id="{{:id}}">{{:name}}</div>
</script>