<script id="tmpl-Login" type="text/html">
    <div class="Login">
        <h2>Login</h2>
        <form class="well" method="post">
        <label>User Name</label>
        <div class="control-group">
  		<input type="text"  name="username" placeholder=""><span class="help-inline" ></span>
  		</div>
        <label>Password</label>
        <div class="control-group">
  		<input type="password"  name="password"><span class="help-inline" ></span>
  		</div>
  		<div>
	  		<div data-type="login" class="btn action login-button">Login</div>
	  		<div data-type="register" class="btn action register-button">Register</div>
  		</div>
        </form>
    </div>
</script>