<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
    	<div class="MainScreen-content row-fluid">
    		<div class="span3 panel leftPanel">
    		</div>
    		<div class="span5 panel centerPanel">
    		</div>
    		<div class="span4 panel rightPanel">
    		</div>
    	</div>
    </div>
</script>
