<script id="tmpl-ProjectInfo" type="text/html">
    <div class="ProjectInfo">
    	<div class="ProjectInfo-top">
    		<div class="title">This is a test</div>
    	</div>
    	<div class="ProjectInfo-center">
    		<div class="field">
				<div class="field-label">Description:</div>
				<div class="field-value" >
					sdfdfsdf
				</div>
			</div>
    		<div class="field">
				<div class="field-label">Created by:</div>
				<div class="field-value" >
					atest
				</div>
			</div>
    	</div>
    </div>
</script>