<script id="tmpl-ProjectInfo" type="text/html">
    <div class="ProjectInfo">
    	<div class="ProjectInfo-top">
    		<div class="title">{{:name}}</div>
    	</div>
    	<div class="ProjectInfo-center">
    		<div class="field" data-property="description">
				<div class="field-label">Description:</div>
				<div class="field-value" >
					{{:description}}
				</div>
			</div>
    		<div class="field">
				<div class="field-label">Created by:</div>
				<div class="field-value" >
					{{:createdBy_id}}
				</div>
			</div>
    	</div>
    </div>
</script>