<script id="tmpl-TaskInfo" type="text/html">
    <div class="TaskInfo">
    	<div class="TaskInfo-top">
    		<div class="title">This is a test</div>
    	</div>
    	<div class="TaskInfo-center">
    		<div class="field">
				<div class="field-label">Description:</div>
				<div class="field-value" >
					sdfdfsdf
				</div>
			</div>
    		<div class="field">
				<div class="field-label">Created by:</div>
				<div class="field-value" >
					atest
				</div>
			</div>
    		<div class="field">
				<div class="field-label">Status:</div>
				<div class="field-value" >
					New
				</div>
			</div>
    		<div class="field">
				<div class="field-label">Assignee:</div>
				<div class="field-value" >
					Wang
				</div>
			</div>
    		<div class="field">
				<div class="field-label">Project:</div>
				<div class="field-value" >
					This is a test
				</div>
			</div>
    	</div>
    </div>
</script>